
.icon-eye:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-website:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-chart-alt:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-lightbulb-alt:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-leaf:before { content: '\e809'; } /* '' */
.icon-food-1:before { content: '\e80a'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
